<div class="span12">
    <ul class="nav nav-pills">
        <li class="dropdown">
            <a class="dropdown-toggle accent-color" data-toggle="dropdown" href="#">
                <%= all_project_label %>
                <b class="caret" href="#"></b>
            </a>
            <ul id="projects-filter" class="dropdown-menu">
                <li><a href="#">All projects</a></li>
                <li><a href="#">ACME</a></li>
                <li><a href="#">Surface</a></li>
                <li><a href="#">OSX</a></li>
                <li><a href="#">WinRT</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle accent-color" data-toggle="dropdown" href="#">
                <%= all_client_label %>
                <b class="caret" href="#"></b>
            </a>
            <ul id="client-filter" class="dropdown-menu">
                <li><a href="#">All clients</a></li>
                <li><a href="#">Corthay</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle accent-color" data-toggle="dropdown" href="#">
                <%= all_provider_label %>
                <b class="caret" href="#"></b>
            </a>
            <ul id="provider-filter" class="dropdown-menu">
                <li><a href="#">All prestataires</a></li>
                <li><a href="#">Simnet</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle accent-color" data-toggle="dropdown" href="#">
                <%= all_employee_label %>
                <b class="caret" href="#"></b>
            </a>
            <ul id="employee-filter" class="dropdown-menu">
                <li><a href="#">All employee</a></li>
                <li><a href="#">G. Simon</a></li>
                <li><a href="#">M. Simon</a></li>
                <li><a href="#">L. Simon</a></li>
            </ul>
        </li>
        <li class=""><a>&nbsp;|&nbsp;<span><%= sort_by_label %>&nbsp;</span></a></li>
        <li class="dropdown">
            <a class="dropdown-toggle accent-color" data-toggle="dropdown" href="#">
                <%= project_name_label %>
                <b class="caret" href="#"></b>
            </a>
            <ul id="sort-filter" class="dropdown-menu">
                <li><a href="#">Project name</a></li>
                <li><a href="#">Budget Cost</a></li>
                <li><a href="#">Duration</a></li>
            </ul>
        </li>
    </ul>
</div>