<div id="theme-charms-section" class="charms-section">
    <div class="charms-header">
        <a href="#" class="close-charms win-command">
            <span class="win-commandimage win-commandring">
                <i class="icon-arrow-10"></i>
            </span>
        </a>
        <h2><%= help_information_header %></h2>
    </div>
    <div class="row-fluid">
        <div class="span12 well">
            <p></p>
        </div>
    </div>
    <div class="row-fluid button-bar-bottom">
        <div class="span4">
            <button class="win-command site-add-site-btn">
                <span class="win-commandimage win-commandring">
                    <i class="icon-home-2"></i>
                </span>
                <span class="win-label"><%= add_workshop_definition_label %></span>
            </button>
        </div>
        <div class="span4">
            <button class="win-command site-add-provider-btn">
                <span class="win-commandimage win-commandring">
                    <i class="icon-user"></i>
                </span>
                <span class="win-label"><%= add_collaborator_label %></span>
            </button>
        </div>
        <div class="span4">
            <button class="win-command site-add-code-btn">
                <span class="win-commandimage win-commandring">
                    <i class="icon-box"></i>
                </span>
                <span class="win-label"><%= add_site_label %></span>
            </button>
        </div>
    </div>
</div>