<div class="row-fluid list-search-widget">
    <div class="input-append pull-right">
        <input class="span4 search-input" id="appendedInputButtons" type="text">
        <button class="btn btn-primary" type="button"><i class="icon-search"></i></button>
    </div>
</div>

<div id="tabBar" class="row-fluid">
<ul class="nav nav-tabs" id="myTab">
    <li class="active" data-toggle="tab"><a href="#home">Users</a></li>
    <li><a href="#profile" data-toggle="tab">Groups</a></li>
    <li><a href="#messages" data-toggle="tab">Roles</a></li>
    <li><a href="#settings" data-toggle="tab">Settings</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="home">
        <div class="metro span12">
            <table class="table">
                <thead>
                <tr>
                    <th>
                        <label class="checkbox">
                            <input type="checkbox"><span class="metro-checkbox"></span>
                        </label>
                    </th>
                    <th>Date de creation</th>
                    <th>Login</th>
                    <th>Active</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="align-center">
                        <label class="checkbox">
                            <input type="checkbox"><span class="metro-checkbox"></span>
                        </label>
                    </td>
                    <td>11-04-2013</td>
                    <td>lsimon@simnetsa.ch</td>
                    <td>1</td>
                    <td>
                        <a href="#" class="btn btn-small">
                            <i class="icon-search"></i>
                        </a>
                        <a href="#" class="btn btn-small">
                            <i class="icon-report">&#x0038;</i>
                        </a>
                        <a class="btn btn-small" href="#">
                            <i class="icon-edit">&#xe164;</i>
                        </a>
                        <a class="action delete btn btn-small" data-toggle="modal" href="#deleteConfirm"
                           data-target="#deleteConfirm">
                            <i class="icon-remove"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane" id="profile">
        <div class="metro span12">
            <table class="table">
                <thead>
                <tr>
                    <th>
                        <label class="checkbox">
                            <input type="checkbox"><span class="metro-checkbox"></span>
                        </label>
                    </th>
                    <th>Date de creation</th>
                    <th>Nom</th>
                    <th>Info</th>
                    <th>Nb Members</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="align-center">
                        <label class="checkbox">
                            <input type="checkbox"><span class="metro-checkbox"></span>
                        </label>
                    </td>
                    <td>11-04-2013</td>
                    <td>Administrators</td>
                    <td>Administrator of the system</td>
                    <td>1</td>
                    <td>
                        <a href="#" class="btn btn-small">
                            <i class="icon-search"></i>
                        </a>
                        <a href="#" class="btn btn-small">
                            <i class="icon-report">&#x0038;</i>
                        </a>
                        <a class="btn btn-small" href="#">
                            <i class="icon-edit">&#xe164;</i>
                        </a>
                        <a class="action delete btn btn-small" data-toggle="modal" href="#deleteConfirm"
                           data-target="#deleteConfirm">
                            <i class="icon-remove"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane" id="messages">
        <div class="metro span12">
            <table class="table">
                <thead>
                <tr>
                    <th>
                        <label class="checkbox">
                            <input type="checkbox"><span class="metro-checkbox"></span>
                        </label>
                    </th>
                    <th>Date de creation</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Mail</th>
                    <th>Poste</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="align-center">
                        <label class="checkbox">
                            <input type="checkbox"><span class="metro-checkbox"></span>
                        </label>
                    </td>
                    <td>11-04-2013</td>
                    <td>Simon</td>
                    <td>Guillaume</td>
                    <td>gsimon@simnetsa.ch</td>
                    <td>Responsable domotique &amp; video suvrveillance</td>
                    <td>
                        <a href="#" class="btn btn-small">
                            <i class="icon-search"></i>
                        </a>
                        <a href="#" class="btn btn-small">
                            <i class="icon-report">&#x0038;</i>
                        </a>
                        <a class="btn btn-small" href="#">
                            <i class="icon-edit">&#xe164;</i>
                        </a>
                        <a class="action delete btn btn-small" data-toggle="modal" href="#deleteConfirm"
                           data-target="#deleteConfirm">
                            <i class="icon-remove"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane" id="settings">
        <div class="metro span12">
            <table class="table">
                <thead>
                <tr>
                    <th>
                        <label class="checkbox">
                            <input type="checkbox"><span class="metro-checkbox"></span>
                        </label>
                    </th>
                    <th>Date de creation</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Mail</th>
                    <th>Poste</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="align-center">
                        <label class="checkbox">
                            <input type="checkbox"><span class="metro-checkbox"></span>
                        </label>
                    </td>
                    <td>11-04-2013</td>
                    <td>Simon</td>
                    <td>Guillaume</td>
                    <td>gsimon@simnetsa.ch</td>
                    <td>Responsable domotique</td>
                    <td>
                        <a href="#" class="btn btn-small">
                            <i class="icon-search"></i>
                        </a>
                        <a href="#" class="btn btn-small">
                            <i class="icon-report">&#x0038;</i>
                        </a>
                        <a class="btn btn-small" href="#">
                            <i class="icon-edit">&#xe164;</i>
                        </a>
                        <a class="action delete btn btn-small" data-toggle="modal" href="#deleteConfirm"
                           data-target="#deleteConfirm">
                            <i class="icon-remove"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>