<div class="row-fluid list-search-widget">
    <div class="input-append pull-right">
        <input class="span4 search-input" id="appendedInputButtons" type="text">
        <button class="btn btn-primary" type="button"><i class="icon-search"></i></button>
    </div>
</div>

<div id="tabBar" class="row-fluid">
    <ul class="nav nav-tabs" id="usersandgroupsTab">
        <li><a data-toggle="tab" href="#ugUsersTab">Users</a></li>
        <li><a data-toggle="tab" href="#ugGroupsTab">Groups</a></li>
        <li><a data-toggle="tab" href="#ugRolesTab" >Roles</a></li>
        <li><a data-toggle="tab" href="#ugSettingsTab">Settings</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="ugUsersTab"></div>
        <div class="tab-pane" id="ugGroupsTab"></div>
        <div class="tab-pane" id="ugRolesTab"></div>
        <div class="tab-pane" id="ugSettingsTab"></div>
    </div>
</div>