@mixin editable-item-noborder {
  padding: 2px 0;
  border: 0 solid #CCCCCC;
}

@mixin editable-item {
  @include editable-item-noborder;
  border: {
    top: 1px solid #ccc;
    right: 1px solid #ccc;
    bottom: 0px solid #ccc;
    left: 1px solid #ccc;
  }
}

.col {
  float: left;
  min-width: 55px;
  border: 1px solid #ccc;
  text-align: center;
  &.read {
    padding: 2px 0;
  }
  input[type="text"] {
    @include editable-item-noborder;
    width: 56px;
    max-width: 56px;
    min-width: 56px;
    padding: 2px 0 3px;
    margin: 0;
  }
  select {
    @include editable-item-noborder;
    width: 55px;
    padding-top: 0;
  }
  &.type {
    @include editable-item-noborder;
    width: 55px;
  }
  &.site {
    width: 150px;
    max-width: 150px;
    padding-bottom: 3px;
  }
}

.clearme {
  clear: both;
  .col {
    &:first-child {
      border: {
        left: 1px solid #ccc;
      }
      height: 28px;
      padding: 0;
    }
    &:last-child {
      border: {
        right: 1px solid #ccc;
      }
      padding: 0 0 2px 0;
    }
    border: {
      bottom: 1px solid #ccc;
    }
  }
  &.header {
    .col {
      text: {
        align: center;
      }
      padding: 0 0 2px;
      border:{
        bottom: 1px solid #CCCCCC;
        left: 1px solid #CCCCCC;
        top: 1px solid #CCCCCC;
      };
      max-width: 58px;
      min-width: 58px;
      text-align: center;
      &.last {
        border: {
          right: 1px solid #ccc;
        }
        margin: 0 4px;
        min-width: 58px;
      }
      min-width: 57px;
      &.type {
        width:78px;
        max-width:78px;
        min-width:78px;
        input {
          width:79px;
          min-width:79px;
          max-width:79px;
        }
      }
      &.site {
        min-width: 150px;
        max-width: 150px;
        width: 150px;
      }
    }
    .site input[type='text'] {
      width: 150px;
      max-width: 150px;
      padding-bottom: 3px;
      border:none;
    }
  }
}

#pageFooter {
  display: none;
}

.chromeframe {
  display: none;
}

#loaderImage {
  position:absolute;
  width:300px;
  top:50%;
  left:50%;
  margin-left:-150px;
  text-align:center;
  padding:7px 0 0 0;
  font:bold 11px Arial, Helvetica, sans-serif;
}

#charms {
  background-color: #250931;
}

.button-bar-bottom {
  bottom: 100px;
  position: absolute;
  width: auto;
  padding-right: 20px;
}

div.info {
  background-color: #EBDDE2;
  &.last {
    margin-bottom: 5px;
  }
  &.filter-top {
    background-color: #842DCE;
    color: white;
  }
}

.erp-listing {
  &.site-date-table-entry {
    width:50px;
  }
  &.site-unit-table-entry {
    width:50px;
  }
  &.site-qty-table-entry {
    width: 50px;
  }
  &.site-price-table-entry {
    width: 80px;
  }
  &.site-total-table-entry {
    width: 80px;
  }
}

#notificationContainer {
  position: absolute;
  top: -15px
}

.identification-form-container {
  position: relative;
  top: 6pc;
  header {
    margin: {
      bottom: 15px;
    }
    h2 {
      color: white;
      font-weight: bolder;
    }
  }
  .form {
    .control-label {
      color: white;
      line-height: inherit;
    }
  }
}
#siteManagerBottomBar {
  button {
    .erp-win-commandimage {
      border: 2px solid white;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      border-radius: 40px;
      width:30px;
      height:30px;
      margin: 12px 0;
      padding: 7px;
      vertical-align: top;
      img {
        /*background: url('/assets/images/icons/dark/appbar.base.png');
        background-position: left top, left top;
        background-repeat: no-repeat, repeat;*/
        font-size: 20px;
        width: 32px;
        height: 32px;
        line-height: 32px;
        vertical-align: top;
        /*&.erp-win-command-home {
          content: ' ';
          background: url('/assets/images/icons/dark/appbar.base.png'), url("/assets/images/icons/dark/appbar.home.png");
          background-position: left top, left top;
          background-repeat: no-repeat, repeat;
        }*/
        }
    }
  }
}