<div class="win-ui-dark win-commandlayout navbar-fixed-bottom" id="siteManagerBottomBar">
    <div class="container">
        <div class="row-fluid">
            <div class="span6 align-left">
                <button class="win-command" rel="tootlip" title="\<%= button_search_title %>">
                    <span class="win-commandicon win-commandring icon-search-3"></span>
                    <span class="win-label"><%= button_search_label %></span>
                </button>
            </div>
            <div class="span6 align-right">
                <button class="win-command" rel="tootlip" title="\<%= button_sendmail_title %>">
                    <span class="win-commandicon win-commandring icon-mail"></span>
                    <span class="win-label"><%= button_sendmail_label %></span>
                </button>
                <hr class="win-command">
                <button class="win-command" rel="tootlip" title="\<%= button_lab_title %>">
                    <span class="win-commandicon win-commandring icon-lab"></span>
                    <span class="win-label"><%= button_lab_label %></span>
                </button>
                <button class="win-command" rel="tootlip" title="\<%= button_ask_title %>">
                    <span class="win-commandicon win-commandring icon-question"></span>
                    <span class="win-label"><%= button_ask_label %></span>
                </button>
                <button class="win-command" rel="tootlip" title="\<%= button_feature_title %>">
                    <span class="win-commandicon win-commandring icon-bug-2"></span>
                    <span class="win-label"><%= button_feature_label %></span>
                </button>
            </div>
        </div>
    </div>
</div>