<div class="metro span12">
    <table class="table">
        <thead>
        <tr>
            <th>
                <label class="checkbox">
                    <input type="checkbox"><span class="metro-checkbox"></span>
                </label>
            </th>
            <th>Date de creation</th>
            <th>Nom</th>
            <th>Info</th>
            <th>Nb Members</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="align-center">
                <label class="checkbox">
                    <input type="checkbox"><span class="metro-checkbox"></span>
                </label>
            </td>
            <td>11-04-2013</td>
            <td>Administrators</td>
            <td>Administrator of the system</td>
            <td>1</td>
            <td>
                <a href="#" class="btn btn-small">
                    <i class="icon-search"></i>
                </a>
                <a href="#" class="btn btn-small">
                    <i class="icon-report">&#x0038;</i>
                </a>
                <a class="btn btn-small" href="#">
                    <i class="icon-edit">&#xe164;</i>
                </a>
                <a class="action delete btn btn-small" data-toggle="modal" href="#deleteConfirm"
                   data-target="#deleteConfirm">
                    <i class="icon-remove"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>