<div class="row-fluid">
    <div class="span8">
        <div id="header-container">
            <a href="#hub" class="">
                <b class="icon-fire">&nbsp;</b>
            </a>
            <h5>Simnet Simple ERP</h5>
        </div>
    </div>
    <div id="top-info" class="pull-right">
        <a href="#hub" class="pull-left">
            <div class="top-info-block">
                <h3>Bienvenue</h3>
                <h4>Administrator</h4>
            </div>
            <div class="top-info-block">
                <b class="icon-user"></b>
            </div>
        </a>
        <hr class="separator pull-left"/>
        <a id="sidebarSettingsButton" class="pull-left" href="#">
            <b class="icon-settings"></b>
        </a>
    </div>
</div>