<div class="well info last filter-top">
    <h1><%= list_title %></h1>
</div>
<div id="addressbookContentFiltersHeader" class="row-fluid info">
    <div class="span12">
        <h3><%= filter_title %></h3>
    </div>
</div>
<div class="row-fluid info last">
    <div id="addressbookContentFiltersContent" class="span7"></div>
    <div class="span3 list-search-widget" id="addressbookSearchWidget"></div>
</div>
<ul class="nav nav-tabs" id="addressbookTabManager">
    <li><a href="#listBySite" data-toggle="tab"><%= collaborator_tab_title %></a></li>
    <li><a href="#listByDate" data-toggle="tab"><%= site_tab_title %></a></li>
</ul>

<div class="tab-content">
    <section class="tab-wrapper tab-pane active scroll" id="addressbookListByCollaborator"></section>
    <section class="tab-wrapper tab-pane" id="addressbookListBySite"></section>
</div>